<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Lato&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/706d8d482f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/stylesRegister.css">
    <title>Registrarse</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/images/Logo_Vinoteca.jpg" class="imagen-de-logo">
        </div>

        <div>
            <form action="/" method="get" class="barra-de-busqueda-con-lupa">
                <input type="text" name="barra-de-busqueda" placeholder="Productos, Marcas , etc..." class="barra-de-busqueda">
                <button type="submit" class="boton-de-busqueda"><i class="fas fa-search" id="lupa"></i></button>
            </form>
        </div>

            <div class="secciones-de-la-web">
                <ul class="secciones">
                    <li><a href="" class="sitios">Inicio<i class="fas fa-glass-martini-alt" id="iconos-de-seccion"></i></a></li>
                    <li><a href="" class="sitios">Categorias<i class="fas fa-wine-bottle" id="iconos-de-seccion"></i></a></li>
                    <li><a href="" class="sitios">Nosotros<i class="fas fa-users" id="iconos-de-seccion"></i></a></li>
                    <li><a href="" class="sitios">Contacto <i class="fas fa-phone-alt" id="iconos-de-seccion"></i></a></li>
                </ul>
                <ul class="secciones-de-usuario">
                    <li><a href="" class="sitios">Registrarse<i class="fas fa-user-plus" id="iconos-de-seccion"></i></a></li>
                    <li><a href="" class="sitios">Iniciar Sesión<i class="fas fa-sign-in-alt" id="iconos-de-seccion"></i></a></li>
                    <li><a href="" class="sitios">Carrito<i class="fas fa-cart-plus" id="iconos-de-seccion"></i></a></li>
                </ul>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars" id="burger"></i>
            </div>
    </header>
    <main class="pagina-registro">
        <form class="formulario-registro" action="" method=" " >
            <div>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido" class="campoCompletar" required minlength="4" maxlength="32"></div>

            <div>
            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" class="campoCompletar" required minlength="6" maxlength="15"></div>

            <div><label for="nacimiento" class="titulosFormulario">Fecha de nacimiento</label>
                <br>
            <input type="date" name="nacimiento" id="nacimiento" class="campoCompletar" required></div>

            <div>
            <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" class="campoCompletar" required></div>

            
            <div><label for="fotoUsuario" class="titulosFormulario">Foto de Perfil</label>
                <br>
            <input type="file" name="fotoUsuario" id="fotoUsuario" class="campoCompletar" accept=".jpg, .png"></div>
            <div>
            <input type="password" name="contrasenia" id="contrasenia" class="campoCompletar" placeholder="Contraseña" required minlength="6" maxlength="15"></div>
            <div>
            <input type="password" name="contraseniaConfirmar" id="contraseniaConfirmar" class="campoCompletar" placeholder="Confirmar Contraseña" required minlength="6" maxlength="15"></div>
            <div class="boton"><button type="submit">Enviar</button>
            <button type="reset">Borrar</button></div>

        </form>
    </main>
    <footer>
        <div class="logo">
            <img src="/images/Logo_Vinoteca.jpg" class="imagen-de-logo">
        </div>
        <div class="redes-de-la-pagina">
            <a href=""><i class="fab fa-facebook" id="icono-fb"></i>
            <a href=""><i class="fab fa-twitter" id="icono-tw"></i>
            <a href=""><i class="fab fa-instagram" id="icono-ig"></i>
        </div>
    </footer>
</body>
</html>